*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    color: white;
    background-color: #000000;
    line-height: 5rem;

}

.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover{
    background-color: #000000;
    border-radius: 50%;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 5rem;
}

#user-score, #comp-score{
    font-size: 3rem;
}

#msg{
    background-color: #000000;
    color: white;
    font-size: 3rem;
    display: inline;
}